.blogCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform .2s;
    margin: 0 auto;
  }
    
.blogCard:hover {
    transform: scale(1.02);
  }

.blogCardImg {
    object-fit: cover;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

/* md for tablets */
@media (min-width: 768px) {
    .cards_item {
      width: 33.3333%;
    }
}